.footer{
    width: 100%;
    margin-top: 50px;
    @include formate;
    align-items: end;
    background: orange;
    padding: 50px;
    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-decoration: none;
        list-style: none;
        font-size: 13px;
        a{
            text-decoration: none;
            color: black;
        }
    }
}
