header{
    display: flex;
    position: sticky;
    top: 0;
    bottom: 30px;
    background: white;
    flex-direction: row;
    .logo{
        flex: 2;
        img{
            width: 30%;
            margin: 20px;
        }
    }
    .link{
        flex: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    font-size: large;
                    padding: 24px;
                    text-transform: uppercase;
                }
                .active{
                    color: skyblue;
                    text-decoration: underline
                }
            }
        } 
    }
}

@import "../components/button";
