@import "variable";
.main-contact{
    display: flex;
    flex-direction: column;
    gap: 50x;
    .text{
        margin: 50px 50px 0px 50px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 15px;
        p{
            font-size: 19px;
        }
        h1{
            text-align: center;
        }
    }
    .section-contact{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 50px;
        h1{
            text-align: center;
        }
        .left-contact{
            margin: 0px 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .cards-contact{
                display: flex;
                gap: 30px;
            }
        }
        .right-contact{
            margin: 0px 50px;
        }
    }
}
form{
    padding: 50px;
    background-color: rgb(138, 216, 234);
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    .name{
        display: flex;
        gap: 50px;
        .first-name{
            width: 50%;
        }
        .last-name{
            width: 50%;
        }
    }
    .pw{
        display: flex;
        gap: 50px;
        .email{
            width: 50%;
        }
        .password{
            width: 50%;
        }
    }
    .student{
        display: flex;
        gap: 50px;
        .generate{
            width: 50%;
        }
        .id{
            width: 50%;
        }
    }
    textarea{
        width: 100%;
        margin-top: 10px;
        padding: 20px 0px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border-radius: 7px;
    }
    input{
        margin-top: 10px;
        width: 100%;
        padding: 10px 0px;
        border-radius: 7px;
        border: none;
        padding-left: 10px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    label{
        font-size: 19px;
    }
    .btn{
        width: 17%;
        margin: 0% 43%;
        padding: 8px 0px;
        border: none;
        border-radius: 7px;
        background-color: white;
        font-weight: bold;
        font-size: 19px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

.main{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .main-key 
        h1{
        margin: 20px 0 20px 90px;
        }
        .main-key ul li{
            margin:15px 30px 0 250px;
            font-size: 16px;
            
        }
    .main-img{
        h3{
            margin: 20px 0 20px 550px;
            font-size: 30px;
        }
        .img{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            .card img{
                width: 300px;
                height: 500px;
                object-fit: cover;
                border-radius: 10px;
            }
            
        }
    }
   
}

.mission{
    width: 100%;
    img{
        width: 100%;
    }
}
.history{
    .teach{
        display: flex;
    }
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            margin: 20px;
            text-transform: uppercase;
        }
    }
    .paragraph{
        background-color: rgb(192, 192, 192);
        padding: 15px;
        p{
            margin: 15px;
            margin-bottom: 0;
            a{
                text-decoration: none;
            }
        }
        ul {
            list-style-type: '🔷';
            width: 80%;
            margin-bottom: 0;
            margin: 40px;
        }
    }
    .skill{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            margin: 20px;
            text-transform: uppercase;
            text-align: center;
        }
        h3{
            margin: 20px;
        }
        ul{
            list-style-type:circle;
            li{
                margin: 10px;
            }
        }
        p{
            width: 90%;
            margin: 10px;
        }
    }
}

.main-home{
    width: 100%;
    .img-home{
        img{
            width: 100%;
        }
    }
    .text-pnc{
        background-image: url(/images/PNC_GC2015-by-Helene-183.jpg);
        width: 100%;
        height: 85vh;
        background-size: cover;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
        text-align: center;
        p{
            width: 70%;
            margin: 15px;
            font-size: 19px;
        }
    }
}
