@import "../mixins/group-mixins";
@import "../components/variable";
.nav{
    position: sticky;
    top: 0;
    bottom: 30px;
    background: $color1;
    text-transform: uppercase;
    @include nav;
}
.active{
    color: skyblue;
    border-bottom: 2px solid skyblue;
}
