@mixin nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
    .nav-left img{
        width: 200px;
        margin-left: 30px;
    }
    .nav-right{
        display: flex;
        align-items: center;
        margin-right: 30px;
        gap: 30px;
        ul{
            display: flex;
            gap: 30px;
            li{
                list-style: none;
                font-size: 23px;
                a{
                    text-decoration: none;
                }
            }
        }
        .btn button{
            font-size: 23px;
            padding: 7px 15px;
            border-radius: 10px;
            border: 0;
            background: $color2;
        }
    }
   
}
@mixin formate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
