@import "../components/variable";
@import "./group-mixins";
@media (min-width:768px) and (max-width: 1024px){
    body{
        width: 100%;
    }
    .main-home{
        width: 100%;
        .text-pnc{
            h1{
                font-size: 25px;
            }
            // p{
            //     display: ;
            
            // }
        }
    }
}
@media (max-width:768px) and (min-width:481px){

    .img-contact{
        height: 500px;
    }
    .nav{
        position: sticky;
        top: 0;
        bottom: 15px;
        background: $color1;
        text-transform: uppercase;
        @include nav-tablat;
    }
    .cards-contact{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .card-contact{
            gap: 30px;
            width: 43%;
            padding: 15px;
            justify-content: center;
            align-items: center;
            .img-card{
                width: 120px;
                height: 120px;
                border-radius: 60px;
            }
            p{
                font-size: 15px;
            }
        }
        #none{
            display: none;
        } 
    }
    .map{
        padding: 50px;
        padding-bottom: 0px;
        iframe{
            height: 300px;
            width: 100%;
        }
        .contact{
            display: none;
        }
    }
    .main-contact{
        .text{
            p{
                font-size: 15px;
            }
        }
    }
    form{
        label{
            font-size: 15px;
        }
        .btn{
            font-size: 15px;
        }
    }
    .footer{
        @include footer-tablat;
    }
}

@media (min-width:320px)and (max-width: 480px){
    h1{
        font-size: 20px;
    }
    .main-contact{
        display: flex;
        flex-direction: column;
        gap: 30x;
        .text{
            margin: 30px;
        }
        .section-contact{
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .left-contact{
                margin: 0px 30px;
            }
            .right-contact{
                margin: 0px 30px;
            }
        }
    }
    form{
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .name{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .first-name{
                width: 100%;
            }
            .last-name{
                width: 100%;
            }
        }
        .pw{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .email{
                width: 100%;
            }
            .password{
                width: 100%;
            }
        }
        .student{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .generate{
                width: 100%;
            }
            .id{
                width: 100%;
            }
        }
        input{
           width: 100%;
        }
        label{
            font-size: 13px;
        }
        .btn{
            width: 45%;
            font-size: 13px;
            margin: 0% 28%;
        }
    } 
    .nav{
        position: sticky;
        top: 0;
        bottom: 10px;
        background: $color1;
        text-transform: uppercase;
        @include nav-phone;
    }
    .main-contact{
        .text{
            p{
                font-size: 13px;
            }
        }
    }
    .img-contact{
        height: 300px;
    }
    .cards-contact{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .card-contact{
            gap: 30px;
            width: 99%;
            padding: 15px;
            justify-content: center;
            align-items: center;
            .img-card{
                width: 120px;
                height: 120px;
                border-radius: 60px;
            }
        }
        #none{
            display: none;
        }
    }
    .map{
        padding: 30px;
        iframe{
            height: 300px;
            width: 100%;
        }
        .contact{
            display: none;
        }
    }
    .footer{
       @include footer-phone;
    }
}

// About page
@media (min-width:768px) and (max-width: 1024px){
    body{
        width: 100%;
    }
    .nav{
        width: 100%;
        position: sticky;
        top: 0;
        bottom: 30px;
        background: $color1;
        text-transform: uppercase;
        @include nav-tablat;
    }
    .mission{
        width: 100%;
        .img-mission{
            width: 100%;
        }
    }
    .history{
        width: 100%;
        margin: 0px 50px;
        .teach{
            display: flex;
            flex-direction: column;
            .teacher{
                img{
                    width: 86.5%;
                }
            }
        }
        .paragraph{
            width: 83%;
            p{
                font-size: 15px;
                margin: 0px;
                padding: 0px;
            }
            ul {
                font-size: 15px;
            }
        }
        .skill{
            width: 86.5%;

            ul{
                li{
                    text-align: center;
                    font-size: 15px;
                    margin: 0px;
                }
            }
            p{
                text-align: center;
                font-size: 15px;
                margin: 0px;
            }
        }
    }
    .card-club{
        width: 83%;
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .card{
            display: flex;
            gap: 20px;
            box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
            border-radius: 15px;
            padding: 10px;
            .title{
                h3{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }
        }
    }
    .footer{
        margin-top: 50px;
        @include footer-tablat;
    }
}

@media (min-width:320px)and (max-width: 480px){
    body{
        width: 100%;
    }
    .nav{
        width: 100%;
        position: sticky;
        top: 0;
        bottom: 30px;
        background: $color1;
        text-transform: uppercase;
        @include nav-tablat;
    }
    .mission{
        width: 99.5%;
        .img-mission{
            width: 99.5%;
        }
    }
    .history{
        width: 100%;
        margin: 0px 0px;
        .teach{
            width: 91%;
            display: flex;
            flex-direction: column;
            gap: 0px;
            .teacher{
                width: 100%;
                img{
                    margin-left: 17px;
                }
            }
        }
        .paragraph{
            p{
                font-size: 13px;
                margin: 0px;
                padding: 0px;
            }
            ul {
                font-size: 13px;
            }
        }
        .skill{
            width: 99.5%;

            ul{
                li{
                    text-align: center;
                    font-size: 13px;
                    margin: 0px;
                }
            }
            p{
                text-align: center;
                font-size: 13px;
                margin: 0px;
            }
        }
    }
    .card-club{
        width: 77%;
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
            border-radius: 15px;
            padding: 10px;
            .title{
                h3{
                    text-align: center;
                }
                p{
                    text-align: center;
                    font-size: 13px;
                }
            }
        }
    }
    .footer{
        margin-top: 50px;
        @include footer-phone;
    }
}

// Home............
@media (min-width:768px) and (max-width: 1024px){
    body{
        width: 100%;
        p{
            font-size: 15px;
        }
    }
    .img-contact{
        height: 500px;
    }
    .nav{
        position: sticky;
        top: 0;
        bottom: 15px;
        background: $color1;
        text-transform: uppercase;
        @include nav-tablat;
    }
    .main-home{
        width: 100%;
        .text-pnc{
            h1{
                font-size: 20px;
            }
        }
        .section-top{
            display: flex;
            flex-direction: column;   
            .section-top-left{
                margin-right: 50px;
                img{
                    width: 100%;
                }
            }
            .section-top-right{
                padding: 0 0 0 50px;
            }   
        }
        .section-center{
            width: 91.5%;
            display: flex;
            flex-direction: column-reverse;
            .section-center-left{
                width: 95%;
                margin: 0px 50px;
            }
            .section-center-right{
                width: 95%;
                margin-left: 50px;
                img{
                    width: 100%;
                }
            }

        }
        .section-bottom{
            display: flex;
            .section-bottom-top-img{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                .img{
                    width: 48%;
                    img{
                        width: 100%;
                        height: 25vh;
                    }
                }
            }
            .section-bottom-bottom{
                display: flex;
                p{
                    margin: 0px  50px;
                    text-align: center;
                    font-size: 15px;
                }
                .section-bottom-bottom-logo{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 22%;
                    }
                }
                
            }
        }
    }
}
@media (min-width:320px)and (max-width: 480px){
    body{
        width: 100%;
        p{
            font-size: 13px;
        }
    }
    .nav{
        position: sticky;
        top: 0;
        bottom: 10px;
        background: $color1;
        text-transform: uppercase;
        @include nav-phone;
    }
    .section-top{
        display: flex;
        flex-direction: column;   
        .section-top-left{
            width: 84%;
            margin: 0px 30px;
            img{
                width: 100%;
            }
        }
        .section-top-right{
            width: 84%;
            margin: 0px 30px;
        }   
    }
    .section-center{
        width: 88%;
        margin-top: 30px;
        display: flex;
        flex-direction: column-reverse;
        .section-center-left{
            width: 95%;
            margin: 0px 30px;
        }
        .section-center-right{
            width: 95%;
            margin-left: 30px;
            img{
                width: 100%;
            }
        }
    }
    .section-bottom{
        width: 100%;
        .section-bottom-bottom{
            h2{
                margin: 0px 30px;
                text-align: center;
            }
            p{
                margin: 0px  30px;
                text-align: center;
                font-size: 13px;
            }
        }
        .section-bottom-top-img{
            width: 100%;
            margin: 0px 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            .img{
                width: 100%;
                img{
                    width: 100%;
                }
                
            }
        }
        .section-bottom-bottom-logo{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            align-items: center;
            img{
                width: 30%;
            }
        }
    }
    .footer{
        margin-top: 30px;
        @include footer-phone;
    }
}

// About page
@media (min-width:768px) and (max-width: 1024px){
    .nav{
        width: 100%;
        position: sticky;
        top: 0;
        bottom: 30px;
        background: $color1;
        text-transform: uppercase;
        @include nav-tablat;
    }
    .history{
        .teach{
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
        .paragraph{
            p{
                font-size: 15px;
            }
            ul {
                font-size: 15px;
            }
        }
        .skill{
            ul{
                li{
                    font-size: 15px;
                }
            }
            p{
                font-size: 15px;
            }
        }
    }
    .club{
        .card-club{
            margin: 0px 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .card{
                width: 100%;
                display: flex;
                .title{
                    p{
                        font-size: 15px
                    }
                }
            }
        }
    }
    .footer{
        @include footer-tablat;
    }
}

@media (min-width:320px)and (max-width: 480px){
    .nav{
        width: 100%;
        position: sticky;
        top: 0;
        bottom: 30px;
        background: $color1;
        text-transform: uppercase;
        @include nav-tablat;
    }
    .history{
        .teach{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .teacher{
                img{
                    width: 100%;
                }
            }
        }
        .paragraph{
            width: 100%;
            p{
                font-size: 13px;
            }
            ul {
                font-size: 13px;
            }
        }
        .skill{
            ul{
                li{
                    font-size: 13px;
                }
            }
            p{
                font-size: 13px;
            }
        }
    }
    .club{
        .card-club{
            margin: 0px 30px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .card{
                width: 100%;
                display: flex;
                .title{
                    p{
                        font-size: 13px
                    }
                }
            }
        }
    }
    .footer{
        @include footer-phone;
    }
}
