@media (max-width:768px) and (min-width:481px){
    body{
        width: 100%;
    }
    .img-contact{
        height: 500px;
    }
    .nav-contact{
        position: sticky;
        left: 10px;
        .nav-left img{
            width: 100%;
            margin-left: 0px;
        }
        .nav-right{
            display: flex;
            align-items: center;
            margin-right: 0px;
            gap: 10px;
            font-size: 17px;
            ul{
                display: flex;
                gap: 15px;
            }
        }
    }    
    .cards-contact{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .card-contact{
            display: flex;
            flex-direction: row;
            width: 95.5%;
            padding: 15px;
            justify-content: flex-start;
            align-items: flex-start;
            .img-card{
                width: 250px;
                height: 295px;
                border-radius: 15px;
            }
        }
        
    }
    .map{
        display: flex;
        padding: 50px;
        iframe{
            height: 300px;
            width: 100%;
        }
        .contact{
            display: none;
        }
    }
}

@media (max-width:480px) and (min-width:320px){
    form{
        .name{
            display: flex;
            flex-direction: column;
            gap: 40px;
            .first-name{
                width: 100%;
            }
            .last-name{
                width: 100%;
            }
        }
        .pw{
            display: flex;
            flex-direction: column;
            gap: 40px;
            .email{
                width: 100%;
            }
            .password{
                width: 100%;
            }
        }
        .student{
            display: flex;
            flex-direction: column;
            gap: 40px;
            .generate{
                width: 100%;
            }
            .id{
                width: 100%;
            }
        }
        input{
           width: 100%;
        }
        .btn{
            width: 32%;
        }
    } 
    .img-contact{
        height: 400px;
    }
    .nav-contact{
        position: sticky;
        left: 10px;
        .nav-left img{
            width: 100px;
            margin-left: 0px;
        }
        .nav-right{
            display: flex;
            align-items: center;
            margin-right: 0px;
            gap: 10px;
            font-size: 15px;
            ul{
                display: flex;
                gap: 10px;
            }
            .BTN button{
                display: none;
            }
        }
    }    
    .cards-contact{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .card-contact{
            width: 90%;
            display: flex;
            flex-direction: column;
            padding: 15px;
            justify-content: center;
            align-items: center;
            .img-card{
                width: 250px;
                height: 250px;
                border-radius: 15px;
            }
        } 
    }
    .map{
        display: flex;
        padding: 50px;
        iframe{
            height: 300px;
            width: 100%;
        }
        .contact{
            display: none;
        }
    }
    .footer-contact{
        align-items: end;
        background: orange;
        ul{
            display: flex;
            flex-direction: column;
            gap: 3px;
            margin: 0px;
            text-decoration: none;
            list-style: none;
        }
    }
}