@import "../components/variable";
@import "../mixins/group-mixins";
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
.map{
    display: flex;
    gap: 50px;
    padding: 50px 50px 0px 50px;
    iframe{
        width: 50%;
    }
    .contact{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .contact-location{
            display: flex;
            gap: 20px;
            align-items: center;
            .icon{
                width: 50px;
                height: 50px;
            }
        }
    }
}
@import "../components/navbar";
@import "../components/main";
@import "../components/cards";
@import "../components/footer";
@import "../mixins/responsive";